body {
    /* Margin bottom by footer height. */
    margin-bottom: 42px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here. */
    height: 42px;
    /* Vertically center the text there. */
    line-height: 42px;
}

.font-monospace {
    font-family: "Fira Code", monospace !important;
}

th {
    font-weight: 600 !important;
}

.weather-icon {
    width: 36px;
    height: 32px;
    object-fit: none;
}

.flip-horizontal::before {
    transform: rotateY(180deg);
}