<!doctype html>
<html lang="{{ lang }}">

<head>
    {% include "common/head.html" %}

    <title>Air pollution forecast for today and tonight</title>
</head>

{% import "common/macros.html" as macros %}

<body class="font-monospace">
    <div class="container-fluid" role="main">
        <div class="row">
            <div class="col">
                <h2 class="mt-2">
                    {{ "air" | transl(lang) }}
                    <small class="text-muted">{{ daily[0].day }} –⁠ {{ daily[1].day }}</small>
                </h2>
            </div>
        </div>

        {% include "common/location.html" %}

        <div class="row">
            <div class="col">
                <table class="table" aria-describedby="Air pollution forecast for today and tonight"
                    style="table-layout: fixed;">
                    <thead class="align-middle">
                        <tr>
                            <th scope="col" id="hours">
                                <em class="bi bi-clock"></em>
                            </th>
                            <th scope="col" id="aqi" class="text-center">
                                {{ "quality_short" | transl(lang) }}
                            </th>
                            <th scope="col" id="co" class="text-end">
                                CO
                            </th>
                            <th scope="col" id="no2" class="text-end">
                                NO<sub>2</sub>
                            </th>
                            <th scope="col" id="o3" class="text-end">
                                O<sub>3</sub>
                            </th>
                            <th scope="col" id="so2" class="text-end">
                                SO<sub>2</sub>
                            </th>
                            <th scope="col" id="pm2_5" class="text-end">
                                PM<sub>2.5</sub>
                            </th>
                            <th scope="col" id="pm10" class="text-end">
                                PM<sub>10</sub>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for air_item in air_items %}
                        <tr>
                            <th scope="row">{{ air_item.start_hour }}–{{ air_item.end_hour }}⁠</th>
                            <td class="text-center">{{ macros.print_aqi(air_item.aqi) }}</td>
                            <td class="text-end">{{ air_item.co }}</td>
                            <td class="text-end">{{ air_item.no2 }}</td>
                            <td class="text-end">{{ air_item.o3 }}</td>
                            <td class="text-end">{{ air_item.so2 }}</td>
                            <td class="text-end">{{ air_item.pm2_5 }}</td>
                            <td class="text-end">{{ air_item.pm10 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="colgroup" colspan="8" class="text-end text-secondary fw-normal border-bottom-0">
                                <small>
                                    {{ "values_expressed_in" | transl(lang) }}
                                    μg/m<sup>3</sup>
                                </small>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-sm" aria-describedby="Pollutants">
                    <thead>
                        <tr>
                            <th scope="col" class="border-bottom-0" style="width: 20%;"></th>
                            <th scope="col" class="border-bottom-0"></th>
                        </tr>
                    </thead>
                    <tbody class="border-top-0">
                        <tr>
                            <th scope="row">
                                <small>CO</small>
                            </th>
                            <td>
                                <small>{{ "pollutant_co" | transl(lang) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <small>NO<sub>2</sub></small>
                            </th>
                            <td>
                                <small>{{ "pollutant_no2" | transl(lang) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="border-bottom-0">
                                <small>O<sub>3</sub></small>
                            </th>
                            <td class="border-bottom-0">
                                <small>{{ "pollutant_o3" | transl(lang) }}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm" aria-describedby="Pollutants">
                    <thead>
                        <tr>
                            <th scope="col" class="border-bottom-0" style="width: 20%;"></th>
                            <th scope="col" class="border-bottom-0"></th>
                        </tr>
                    </thead>
                    <tbody class="border-top-0">
                        <tr>
                            <th scope="row">
                                <small>SO<sub>2</sub></small>
                            </th>
                            <td>
                                <small>{{ "pollutant_so2" | transl(lang) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <small>PM<sub>2.5</sub></small>
                            </th>
                            <td>
                                <small>{{ "pollutant_pm2_5" | transl(lang) }} (≤ 2.5 µm)</small>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="border-bottom-0">
                                <small>PM<sub>10</sub></small>
                            </th>
                            <td class="border-bottom-0">
                                <small>{{ "pollutant_pm10" | transl(lang) }} (≤ 10 µm)</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "common/footer.html" %}
    {% include "common/scripts.html" %}
</body>

</html>